<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PluginVersion</key>
    <string>2026.0.1</string>
    <key>ServerApiVersion</key>
    <string>3.6</string>
    <key>CFBundleDisplayName</key>
    <string>LogsOverReflector</string>
    <key>CFBundleIdentifier</key>
    <string>com.simons-plugins.logs-over-reflector</string>
    <key>CFBundleVersion</key>
    <string>2026.0.1</string>
</dict>
</plist>
